<p>Szia,<br>küldöm a megbízás adatait:<br>(számláról ha van, kérek fotót)</p>
<table style="border:2px solid #000; border-collapse:collapse; width:100%;">
  <tr>
    <th style="border:1px solid #000;">Vevő</th>
    <th style="border:1px solid #000;">Vásárló telefonsz.</th>
    <th style="border:1px solid #000;">Vásárló címe</th>
    <th style="border:1px solid #000;">Típus</th>
    <th style="border:1px solid #000;">Gyártó</th>
    <th style="border:1px solid #000;">Megnevezés</th>
    <th style="border:1px solid #000;">Hiba leírása</th>
    <th style="border:1px solid #000;">Mlpsz.</th>
    <th style="border:1px solid #000;">Rendeléssz.</th>
  </tr>
  <tr>
    <td style="border:1px solid #000;">{{customerName}}</td>
    <td style="border:1px solid #000;">{{phone}}</td>
    <td style="border:1px solid #000;">{{address}}</td>
    <td style="border:1px solid #000;">{{type}}</td>
    <td style="border:1px solid #000;">{{manufacturer}}</td>
    <td style="border:1px solid #000;">{{description}}</td>
    <td style="border:1px solid #000;">{{errorDescription}}</td>
    <td style="border:1px solid #000;">{{mlpsz}}</td>
    <td style="border:1px solid #000;">{{orderNumber}}</td>
  </tr>
</table>
<p>Munkalap csatolva.<br>Jelezz vissza, kérlek.</p>
<p>köszönettel:<br>István</p>