<p>Ajánlat:</p>
<table style="border:2px solid #000; border-collapse:collapse; width:100%;">
  <tr>
    <th style="border:1px solid #000;">Rendelésszám</th>
    <th style="border:1px solid #000;">Hiba</th>
    <th style="border:1px solid #000;">Jav.br.</th>
    <th style="border:1px solid #000;">Megbízás dát.</th>
    <th style="border:1px solid #000;">Vásárló</th>
    <th style="border:1px solid #000;">Vásárló telefonsz.</th>
    <th style="border:1px solid #000;">Vásárló Címe</th>
    <th style="border:1px solid #000;">Típus</th>
    <th style="border:1px solid #000;">Mlpsz.</th>
  </tr>
  <tr>
    <td style="border:1px solid #000;">{{orderNumber}}</td>
    <td style="border:1px solid #000;">{{errorDescription}}</td>
    <td style="border:1px solid #000;">{{szlaBrutto}}</td>
    <td style="border:1px solid #000;">{{orderDate}}</td>
    <td style="border:1px solid #000;">{{customerName}}</td>
    <td style="border:1px solid #000;">{{phone}}</td>
    <td style="border:1px solid #000;">{{address}}</td>
    <td style="border:1px solid #000;">{{type}}</td>
    <td style="border:1px solid #000;">{{mlpsz}}</td>
  </tr>
</table>
<p>Várjuk visszajelzésedet.</p>
<p>köszönettel:<br>Bartus István</p>